@plugin "tailwindcss-animate";
@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --color-primary: #EE2B69;
    --color-primary-100: #FFE8F0;
    --color-primary-200: #F79E9E;
    --color-secondary: #FBE843;
    --color-red-500: #FF0000;
  
    a {
      @apply no-underline text-inherit;
    }
  }
}

@layer components{
  .navbar-global{
    @apply fixed top-0 left-0 w-full shadow-sm z-50;
    background-color: var(--color-primary-100);
  }

  .navbar-items{
    @apply max-w-7xl mx-auto px-4 py-3 flex items-center justify-between
  }

  .navbar-logo{
    @apply text-xl font-bold text-emerald-700 cursor-pointer
  }

  .navbar-link{
    @apply text-gray-700 hover:text-emerald-500 transition-colors
  }

  .navbar-signoutbutton{
    @apply ml-4 px-4 py-2 text-white rounded
  }

  .signup-form{
    @apply px-4 py-8 sm:py-12 lg:py-16 max-w-7xl mx-auto flex justify-center
  }
}

