@plugin "tailwindcss-animate";
@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --color-primary: #EE2B69;
    --color-primary-100: #FFE8F0;
    --color-primary-200: #F79E9E;
    --color-secondary: #FBE843;
    --color-red-500: #FF0000;
  
    a {
      @apply no-underline text-inherit;
    }
  }
}

@layer components{
  .navbar-global{
    @apply fixed top-0 left-0 w-full shadow-sm z-50;
    background-color: var(--color-primary-100);
  }

  .navbar-items{
    @apply max-w-7xl mx-auto px-4 py-3 flex items-center justify-between
  }

  .navbar-logo{
    @apply text-xl font-bold text-emerald-700 cursor-pointer
  }

  .navbar-link{
    @apply text-gray-700 hover:text-emerald-500 transition-colors
  }

  .navbar-signoutbutton{
    @apply ml-4 px-4 py-2 text-white rounded
  }

  .signup-form{
    @apply px-4 py-8 sm:py-12 lg:py-16 max-w-7xl mx-auto flex justify-center
  }

  .heading{
    @apply text-3xl font-bold text-center mt-12 sm:text-5xl tracking-tight
  }

  .sub-heading{
    @apply max-w-3xl mx-auto mt-4 text-xl text-center
  }

  .subscription-container{
    @apply mt-12 container mx-auto space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-8
  }

  .subscription-option-card{
    @apply relative p-8 border border-gray-200 rounded-2xl shadow-sm flex flex-col
    hover:shadow-md hover:scale-[1.02] 
    transition-transform duration-200 ease-out
  }

  .is-popular{
    @apply absolute top-0 py-1.5 px-4 bg-emerald-500 text-white rounded-full text-xs font-semibold uppercase tracking-wide transform -translate-y-1/2
  }

  .subscrib-button{
    @apply mt-8 block w-full py-3 px-6 border border-transparent rounded-md text-center font-medium disabled:bg-gray-400 disabled:cursor-not-allowed
  }
}

